USE [TrafficPolice]
GO
/****** Object:  Table [dbo].[drivers]    Script Date: 06.12.2021 14:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[drivers](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Surname] [nvarchar](255) NOT NULL,
	[Middlename] [nvarchar](255) NULL,
	[passport] [float] NULL,
	[postcode] [float] NULL,
	[Address] [nvarchar](255) NOT NULL,
	[AddressLife] [nvarchar](255) NULL,
	[Company] [nvarchar](255) NULL,
	[Jobname] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Photo] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Driv] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Licences]    Script Date: 06.12.2021 14:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licences](
	[id_license] [int] NOT NULL,
	[id_driver] [int] NULL,
	[expire date] [float] NULL,
	[categories] [nvarchar](255) NULL,
	[licence series] [nvarchar](255) NULL,
	[licence number] [float] NULL,
	[Status] [nvarchar](255) NULL,
	[VIN] [nvarchar](255) NULL,
	[Manufacturer] [nvarchar](255) NULL,
	[Model] [nvarchar](255) NULL,
	[Year] [float] NULL,
	[Weight] [float] NULL,
	[Color] [float] NULL,
	[Engine Type] [float] NULL,
	[type of drive] [nvarchar](255) NULL,
 CONSTRAINT [PK_Licences$] PRIMARY KEY CLUSTERED 
(
	[id_license] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[drivers] ([Id], [Name], [Surname], [Middlename], [passport], [postcode], [Address], [AddressLife], [Company], [Jobname], [Phone], [Email], [Photo], [Description]) VALUES (1, N'Alonso', N'Hopkins', N'Caleb', 2303160716, 760832, N'452 Cobblestone St.', N'477SouthamptonAvenue', N'Global Gillette', N'Reporter', N'+7(970)383-8933', N'ifd@ar', N'001-happy-18.png', N'')
INSERT [dbo].[drivers] ([Id], [Name], [Surname], [Middlename], [passport], [postcode], [Address], [AddressLife], [Company], [Jobname], [Phone], [Email], [Photo], [Description]) VALUES (2, N'Kaydence', N'Sellers', N'Susannah', 5563160745, 807042, N'Hyattsville, MD 20782', N'Menasha, WI 54952', N'Coca-Cola', N'Elementary School Teacher', N'+7(867)708-4447', N'isotopian@sbcglobal.net', N'002-cool-5.png', N'')
INSERT [dbo].[drivers] ([Id], [Name], [Surname], [Middlename], [passport], [postcode], [Address], [AddressLife], [Company], [Jobname], [Phone], [Email], [Photo], [Description]) VALUES (3, N'Finnegan', N'Bray', N'Brighton', 3719717453, 83282, N'9648 Philmont Lane', N'9668 Glendale Court', N'Harley-Davidson Motor Company', N'Childcare worker', N'+7(221)428-7850', N'isaacson@att.net', N'003-happy-17.png', N'')
GO
INSERT [dbo].[Licences] ([id_license], [id_driver], [expire date], [categories], [licence series], [licence number], [Status], [VIN], [Manufacturer], [Model], [Year], [Weight], [Color], [Engine Type], [type of drive]) VALUES (1, 1, 46571, N'B', N'56 40', 613073, N'Active', N'WBAKG7C54DJ746310', N'BMW', N'1-Series', 2009, 1794, 116, 3, N'front-wheel drive')
INSERT [dbo].[Licences] ([id_license], [id_driver], [expire date], [categories], [licence series], [licence number], [Status], [VIN], [Manufacturer], [Model], [Year], [Weight], [Color], [Engine Type], [type of drive]) VALUES (2, 2, 45190, N'B', N'74 65', 904246, N'Active', N'JN1CV6APXCM884333', N'BMW', N'1-Series', 2018, 1523, 118, 3, N'front-wheel drive')
INSERT [dbo].[Licences] ([id_license], [id_driver], [expire date], [categories], [licence series], [licence number], [Status], [VIN], [Manufacturer], [Model], [Year], [Weight], [Color], [Engine Type], [type of drive]) VALUES (3, 3, 45682, N'B, A', N'67 50', 769897, N'Active', N'2C4RDGCG2FR292116', N'BMW', N'2-Series', 1994, 1750, 120, 2, N'front-wheel drive')
GO
ALTER TABLE [dbo].[Licences]  WITH CHECK ADD  CONSTRAINT [FK_Licences_Drivers] FOREIGN KEY([id_driver])
REFERENCES [dbo].[drivers] ([Id])
GO
ALTER TABLE [dbo].[Licences] CHECK CONSTRAINT [FK_Licences_Drivers]
GO
